In [35]:
import pandas as pd

df_basinc = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/basinc.csv')
df_bulut = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/bulut.csv')
df_nem = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/nem.csv')
df_ruzgar = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/ruzgar_hizi_yonu.csv')
df_sicaklik = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/sicaklik.csv')
df_yagis = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/yagis_miktari.csv')

tables = [df_nem, df_ruzgar, df_sicaklik, df_yagis]
real_df = pd.merge(df_basinc, df_bulut, on = ['Yil', 'Ay', 'Gun', 'Saat'])

for i in tables:
    real_df = pd.merge(real_df, i, on = ['Yil', 'Ay', 'Gun', 'Saat'])

real_df.Yil = pd.Categorical(real_df.Yil)
real_df.Ay = pd.Categorical(real_df.Ay)
real_df.Gun = pd.Categorical(real_df.Gun)
real_df.Saat = pd.Categorical(real_df.Saat)

df = real_df.copy()
df = df.dropna()

df.tail()

,Yil,Ay,Gun,Saat,Basinc,Bulut,Nem,Ruzgar Hizi,Ruzgar Yonu,Sicaklik,Yagis
14227,Y2024,Ağustos,D15,T1900,1017.0,15.0,63.33604,19.353140,226.50743,23.870245,0.0
14228,Y2024,Ağustos,D15,T2000,1017.7,13.0,71.43643,19.453327,218.99100,22.060246,0.0
14229,Y2024,Ağustos,D15,T2100,1018.0,17.0,79.42330,19.376562,215.16644,20.660246,0.0
14230,Y2024,Ağustos,D15,T2200,1018.5,34.0,74.00095,16.434305,208.81079,21.610245,0.0
14231,Y2024,Ağustos,D15,T2300,1018.4,23.0,77.50878,17.076300,214.69516,20.900246,0.0

In [47]:
df = pd.merge(df, df_yagis, on = 'Zaman')
df.head()

,Zaman,Basınç,Bulut,Nem,Rüzgar Hızı,Rüzgar Yönü,Sıcaklık,Yağış
0,20230101T0000,1021.4,8.700001,80.826390,83.567314,230.06802,12.270246,0.0
1,20230101T0100,1021.3,22.000000,79.099785,87.857704,229.65335,12.340245,0.0
2,20230101T0200,1021.5,44.000000,80.655174,90.806390,230.63068,11.840245,0.0
3,20230101T0300,1021.7,22.000000,81.831300,90.299736,230.66238,11.550245,0.0
4,20230101T0400,1021.9,4.000000,81.179360,90.745705,231.76617,11.260245,0.0

In [43]:
df.head()

           Zaman  Basınç      Bulut
0  20230101T0000  1021.4   8.700001
1  20230101T0100  1021.3  22.000000
2  20230101T0200  1021.5  44.000000
3  20230101T0300  1021.7  22.000000
4  20230101T0400  1021.9   4.000000

In [46]:
!pip install scikit-learn

Traceback (most recent call last):
  File "/Users/ardahanaytan/anaconda3/bin/pip", line 7, in <module>
    from pip._internal.cli.main import main
  File "/Users/ardahanaytan/anaconda3/lib/python3.11/site-packages/pip/_internal/cli/main.py", line 10, in <module>
    from pip._internal.cli.autocompletion import autocomplete
  File "/Users/ardahanaytan/anaconda3/lib/python3.11/site-packages/pip/_internal/cli/autocompletion.py", line 10, in <module>
    from pip._internal.cli.main_parser import create_main_parser
  File "/Users/ardahanaytan/anaconda3/lib/python3.11/site-packages/pip/_internal/cli/main_parser.py", line 9, in <module>
    from pip._internal.build_env import get_runnable_pip
  File "/Users/ardahanaytan/anaconda3/lib/python3.11/site-packages/pip/_internal/build_env.py", line 19, in <module>
    from pip._internal.cli.spinners import open_spinner
  File "/Users/ardahanaytan/anaconda3/lib/python3.11/site-packages/pip/_internal/cli/spinners.py", line 9, in <module>
    from pip._internal.utils.logging import get_indentation
  File "/Users/ardahanaytan/anaconda3/lib/python3.11/site-packages/pip/_internal/utils/logging.py", line 13, in <module>
    from pip._vendor.rich.console import (
  File "/Users/ardahanaytan/anaconda3/lib/python3.11/site-packages/pip/_vendor/rich/__init__.py", line 17, in <module>
    _IMPORT_CWD = os.path.abspath(os.getcwd())
                                  ^^^^^^^^^^^
PermissionError: [Errno 1] Operation not permitted

In [43]:
import pandas as pd
from sklearn import preprocessing

df_basinc = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/basinc.csv')
df_bulut = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/bulut.csv')
df_nem = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/nem.csv')
df_ruzgar = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/ruzgar_hizi_yonu.csv')
df_sicaklik = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/sicaklik.csv')
df_yagis = pd.read_csv('/Users/ardahanaytan/Desktop/STAJ/Hava Durumu Tahmin Projesi/data/weather_datas/yagis_miktari.csv')

ctable = ['Basinc','Bulut','Nem','Ruzgar Hizi','Ruzgar Yonu','Sicaklik','Yagis']
tables = [df_nem, df_ruzgar, df_sicaklik, df_yagis]
real_df = pd.merge(df_basinc, df_bulut, on = ['Yil', 'Ay', 'Gun', 'Saat'])

for i in tables:
    real_df = pd.merge(real_df, i, on = ['Yil', 'Ay', 'Gun', 'Saat'])

df = real_df.copy()
df = df.dropna()

df_st = pd.DataFrame(preprocessing.scale(df.select_dtypes('float64')), columns=ctable)
for i in ctable:
    df[i] = df_st[i]

df['Yil'] = df['Yil'].str[1:].astype(int)
df['Ay'] = df['Ay'].map({
    'Ocak': 1, 'Şubat': 2, 'Mart': 3, 'Nisan': 4, 'Mayıs': 5, 'Haziran': 6,
    'Temmuz': 7, 'Ağustos': 8, 'Eylül': 9, 'Ekim': 10, 'Kasım': 11, 'Aralık': 12
})
df['Gun'] = df['Gun'].str[1:].astype(int)
df['Saat'] = df['Saat'].str[1:].str[:2].astype(int)

df['datetime'] = pd.to_datetime(df[['Yil', 'Ay', 'Gun']].astype(str).agg('-'.join, axis=1) + ' ' + df['Saat'].astype(str), format='%Y-%m-%d %H')
df.set_index('datetime', inplace=True)
df.drop(columns=['Yil', 'Ay', 'Gun', 'Saat'], inplace=True)

PermissionError: [Errno 1] Operation not permitted